MAILTRAP_USER=api
MAILTRAP_PASS=<your-mailtrap-API-key>
SMTP_PORT=<your-mailtrap-port>
SMTP_HOST=<your-mailtrap-host>
SCRAPE_DOT_DO_API_TOKEN=<your-token>
SENDER_EMAIL=<domain-you-registerd>

ADMIN_EMAIL=<your-email>
ADMIN_PASSWORD=<your-password>
JWT_SECRET=<your-secret>


SMART_PROXY_USERNAME=<your-username>
SMART_PROXY_PASSWORD=<your-password>
SMART_PROXY_ENDPOINT=

BRIGHT_DATA_USER_NAME=<your-username>
BRIGHT_DATA_USER_PASSWORD=<your-password>