MAILTRAP_USER=<your-mailtrap-user>
MAILTRAP_PASS=<your-mailtrap-password>
SMTP_PORT=<your-mailtrap-port>
SMTP_HOST=<your-mailtrap-host>
SCRAPE_DOT_DO_API_TOKEN=<your-token>
SENDER_EMAIL=

ADMIN_EMAIL=<your-email>
ADMIN_PASSWORD=<your-password>
JWT_SECRET=<your-secret>